/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.left-section,
.right-section {
    width: 48%; /* Adjust width as needed */
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}

/* Scrollable table container */
.scrollable-table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Table styling */
.scrollable-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table-container th,
.scrollable-table-container td {
    border: 1px solid #d3d3d3;
    padding: 8px;
    text-align: left;
}

.scrollable-table-container th {
    background-color: #444444;
    color: #fff;
}
.custom-label {
    background-color: #444444;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    display: inline-block; /* Ensure inline display */
    margin-bottom: 10px; /* Adjust margin */
}

/* Form inputs and labels */
.form-group input[type="date"],
.form-group input[type="text"],
.form-group input[type="submit"],
.form-group label {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group label {
    font-weight: bold;
    display: block;
}

/* Submit button */
.submit {
    background-color: #383838;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #3f3f3f;
}
/* Styling for h1 */
h1 {
    display: inline-block; /* Ensure inline-block to wrap content */
    background-color: #444444;
    color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Header styling */
.header {
    text-align: center;
    color: #fff;
    padding: 20px 0;
}