/* Contributor: John  */
.content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: relative;
    width: 100%; /* Span the full width of the screen */
    text-align: left; /* Center the background image horizontally */
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    padding: 0px; /* Add padding around the text */
    width: 100%;
}

.overlay-text {
    color: white;
    padding: 10px;
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better visibility */
    text-align: left;
}

.background-uni-image {
    width: 100%; /* Set the image width to 100% of its container (full width) */
    height: auto; /* Maintain aspect ratio */
}