{% load static %}
<html>
    <head>
        <title>Item Booking System</title>

    </head>
    <body>
        {%include 'navbar.html'%}

        <div class="booking-form">
            <form method="post" action="{% url 'booking' %}">
                {% csrf_token %}
                <div class="form-group">
                    <table>
                        <tr>
                            <th></th>
                            <th>Equipment Name</th>
                            <th>Equipment Type</th>
                            <th>Equipment Quantity</th>
                            <th>Equipment Location</th>
                        </tr>
                        {%for item in equipment%}
                        <tr >
                            <td><input type="radio" name="itemID" value="{{item.id}}"></td>
                            <td>{{item.equipmentName}}</td>
                            <td>{{item.equipmentType}}</td>
                            <td>{{item.equipmentQuantity}}</td>
                            <td>{{item.equipmentLocation}}</td>
                            

                            
                        </tr>
                        {%endfor%}
                    </table>
                    <label for="bookingStartDate">Booking start date</label>
                    <input id = "bookingStartDate" name = "startDate" type="date" value="{{startDate}}" />
                    <label for="bookingEndDate">Booking end date</label>
                    <input id = "bookingEndDate" name = "endDate" type="date" value="{{endDate}}" />
                </div>
                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>