{% load static %}
<html>
<head>
    <title>Item Booking System</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="booking-form">
        <form method="post" action="{% url 'booking' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="scrollable-table-container">
                    {% include 'bookingtable.html' %}
                </div>
                <label for="bookingStartDate">Booking start date</label>
                <input id="bookingStartDate" name="startDate" type="date" value="{{ startDate }}">
                <label for="bookingEndDate">Booking end date</label>
                <input id="bookingEndDate" name="endDate" type="date" value="{{ endDate }}">
            </div>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="booking-history">
        {% include 'userbookingtable.html' %}
    </div>
    
</body>
</html>