{% load static %}
<html>
<head>
    <title>Item Booking System</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="left-section">
            <div class="booking-form">
                <form method="post" action="{% url 'booking' %}">
                    {% csrf_token %}
                    <label for="bookingStartDate" class="custom-label">Booking start date</label>
                    <input id="bookingStartDate" name="startDate" type="date" value="{{ startDate }}">
                    <label for="bookingEndDate" class="custom-label">Booking end date</label>
                    <input id="bookingEndDate" name="endDate" type="date" value="{{ endDate }}">
                    <input class="submit" type="submit" name="Sort" value="Sort">
                    <div class="form-group">
                        <div class="scrollable-table-container">
                            {% include 'bookingtable.html' %}
                        </div>

                    </div>
                    <input class="submit" type="submit" name = "Sort" value="Submit">
                </form>
            </div>
        </div>
        <div class="right-section">
            <div class="booking-history">
                <div class="scrollable-table-container">
                {% include 'userbookingtable.html' %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>