<table>
    <tr>
        <th></th>
        <th>Equipment Name</th>
        <th>Equipment Type</th>
        <th>Equipment Quantity</th>
        <th>Equipment Location</th>
    </tr>
    {% for item in equipment %}
    <tr>
        <td><input type="radio" name="itemID" id="item{{ item.equipmentID }}" value="{{ item.equipmentID }}"></td>
        <td>{{ item.equipmentName }}</td>
        <td>{{ item.equipmentType }}</td>
        <td>{{ item.equipmentQuantity }}</td>
        <td>{{ item.equipmentLocation }}</td>
    </tr>
    {% endfor %}
</table>