{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=InterVogue+Medium&display=swap">

</head>
<nav>

    {% block content %}

    <ul class="header">
        <li class = "nav-Button" ><a href="{% url 'home' %}">Home</a></li>
        <li class = "nav-Button" ><a href="{% url 'booking' %}">Booking</a></li>
        {%if user.is_authenticated%}
            <li class = "log-in-button" ><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li class = "log-out-button" ><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</nav>