<!-- Contributors: David -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/support.css' %}">
    <!-- Include the CSS file for styling the support page -->
</head>
<body>

    <div class="header">
        <h1>Terms & Conditions</h1>
        <!-- Display the heading "Support" -->
    </div>

    <div class="container">
       
        Terms and Conditions

        Welcome to our inventory system web application! <br><br>These terms and conditions outline the rules and regulations for the use of our platform.<br>
        
        By accessing this website and utilizing our services, you agree to abide by these terms and conditions. Please read them carefully before proceeding.<br><br>
        
        Usage Restrictions:<br>
        You must be at least 18 years old to use this application.<br>
        You are responsible for maintaining the confidentiality of your account and password.<br>
        User Conduct:<br>
        You agree not to use the service for any unlawful purposes or to violate any laws.<br>
        You shall not upload or transmit any viruses or malicious code.<br>
        Intellectual Property:<br>
        All content provided on this platform is the property of the application owners and protected by copyright laws.<br>
        You may not reproduce, distribute, or transmit any content without prior permission.<br>
        Data Privacy:<br>
        We respect your privacy and are committed to protecting your personal information.<br>
        Your data will only be used for the purpose of providing the services offered by the application.<br>
        Liability:<br>
        We do not guarantee the accuracy, completeness, or reliability of the information provided on this platform.<br>
        We shall not be liable for any damages or losses arising from the use of our services.<br>
        Modifications:<br>
        We reserve the right to modify or update these terms and conditions at any time without prior notice.<br>
        Your continued use of the platform after any changes signifies your acceptance of the revised terms.<br>
        Termination:<br>
        We reserve the right to suspend or terminate your access to the platform at any time for any reason without prior notice.<br>
        By using our inventory system web application, you acknowledge that you have read, understood, and agreed to be bound by these terms and conditions. If you do not agree with any part of these terms, please refrain from using our services.<br>
        
        If you have any questions or concerns regarding these terms, please contact us at [customerservice@groupH.com].<br><br><br>
                
    </div>
</body>
</html>

