<!-- Contributors: Toby-->
<table>
    <!-- Table headers -->
    <tr>
        <th>Equipment</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Booking Status</th>
    </tr>

    <!-- Loop through bookings and display each booking as a table row -->
    {% for booking in bookings %}
    <tr>
        <!-- Display equipment name -->
        <td>{{ booking.equipment.equipmentName }}</td>

        <!-- Display start date of booking -->
        <td>{{ booking.startDate }}</td>

        <!-- Display end date of booking -->
        <td>{{ booking.endDate }}</td>

        <!-- Display booking status -->
        {% if booking.bookingStatus == "O" %}
        <td>Open</td>
        {% elif booking.bookingStatus == "C" %}
        <td>Close</td>
        {% elif booking.bookingStatus == "L" %}
        <td>Late</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
